<html>

<form method="post" action="http://192.168.1.61:8000/utility?restart">
    <input type="submit" value="Restart Airiana" />
</form>

<form method="post" action="http://192.168.1.61:8000/utility?reboot">
    <input type="submit" value="Reboot box" />
</form>

<form method="post" action="http://192.168.1.61:8000/utility?update">
    <input type="submit" value="Update software" />
</form>

<form method="post" action="http://192.168.1.61:8000/utility?coffee">
    <input type="submit" value="Brew some Coffee" />
</form>

<form method="post" action="http://192.168.1.61:8000/utility?shutdown">
    <input type="submit" value="Shutdown box" />
</form>

</html>
