[Unit]
Description=Airiana Core executive
After=network-online.target

[Service]
Type=idle
ExecStart=@INSTALL_DIR@/venv/bin/python @INSTALL_DIR@/airiana-core.py daemon ping humidity
#cmdl.options:daemon debug humidity moisture sensors exhaust ping temperatur.nu keep-log homeAss TCP
Restart=always
User=@USER@
KillSignal=SIGTERM
[Install]
WantedBy=multi-user.target
