[Unit]
Description=Airiana Core executive
After=network-online.target
Type=idle

[Service]
ExecStart=/usr/bin/python /home/pi/airiana/airiana-core.py daemon ping humidity

Restart=always
User=root
KillSignal = SIGTERM
[Install]
WantedBy=multi-user.target
