[Unit]
Description=Airiana Controller TCP(http) --> UDP server
After=network-online.target
[Service]
Type=idle
ExecStart=@INSTALL_DIR@/venv/bin/python @INSTALL_DIR@/public/controller.py
Restart=on-failure
RestartSec=5
User=@USER@
[Install]
WantedBy=multi-user.target
