[Unit]
Description=Airiana Controller TCP(http) --> UDP server
After=network-online.target
Type=idle
[Service]
ExecStart=/home/pi/Airiana/venv/bin/python  /home/pi/Airiana/public/controller.py
Restart=always
serviceUser=root
[Install]
WantedBy=multi-user.target
